.mb-player
  span.mb-play [play]
  span.mb-pause [pause]
  br
  span [<<]
    | &nbsp;
  span.mb-pos-back [<]
  progress
  span.mb-pos-forward [>]
    | &nbsp;
  span [>>]
  br
  span.mb-playtime-passed
    | 0:00
  span &nbsp;
  span.mb-playtime-total
    | 0:00
  span &nbsp;
  span.mb-playtime
    | 0:00
  span &nbsp;
  br
  span.mb-vol-up [+]
  span.mb-vol-down [-]
  span.mb-vol-mute [!]
