.mb-player
  .css-mb-leftbox
    span.mb-audios
    button.mb-play |>
    button.mb-pause ||
    progress.mb-buffer
    button.mb-thumbs-down
      img.css-mb-thumb-img(src='images/thumbs-down.png')
    button.mb-thumbs-up
      img.css-mb-thumb-img(src='images/thumbs-up.png')
    button.css-mb-rating-img
      img.mb-rating-img(src='images/rating+0.png')
    //- for things such as audio books and podcasts
    button.mb-not-music
      | Not Music (ie: ebook, podcast)
    //- for things such as chicken dance, christmas music, hymns, and such
    button.mb-specialty-music
      | Special (ie: limbo, christmas, hymn)
    span.mb-buffering
      img(src='/images/loading.gif')
    br
    button.mb-previous <<
      | &nbsp;
    button.mb-pos-back <
    progress.mb-progress
    button.mb-pos-forward >
      | &nbsp;
    button.mb-next >>
    br
    span.mb-playtime-passed
      | 0:00
    span &nbsp;
    span.mb-playtime-total
      | 0:00
    span &nbsp;
    span.mb-playtime
      | 0:00
    span &nbsp;
    br
    button.mb-vol-up +Vol
    button.mb-vol-down -Vol
    button.mb-vol-mute Mute
    input(type="range").mb-volume(min="0", max="1000")
    input(type="range").mb-volume-raw(min="0", max="1000", disabled="disabled")
    div.mb-art
  .css-mb-rightbox
    ul
      li.mb-title
      li.mb-artist
      li.mb-album
