#drop.uiview.drop.index
  #drop-container
    header Drop
    #dropzone.tall.file-zone.area.interactive
      //- http://www.softicons.com/free-icons/web-icons/design-cartons-icons-by-sneh-roy/box-drag-and-drop-icon
      img#drop-action-image(src='images/drag-n-drop-box.png',alt='Drag & Drop Files from your Desktop')
      //- TODO find out why this is laggy when placed outside of #dropzone
      form#upload.upload
        //- webkitdirectory allows ONLY directories
        //- input#filechooser.filechooser(name='file',type='file',multiple='multiple')

      button#upload.button.gray Open File Browser
      form.upload
        //- input.filechooser(name='file',type='file',multiple='multiple')

    .tall.area.interactive
      ul#uploadlist.tabs
        li.tab.file-info
          span.id TPL-TOKEN
          span.name TPL-NAME
          a(href='#/share/TPL-TOKEN') domain.tld/#/share/TPL-TOKEN
          span.remove-file X
          progress
            span.val 0
            span.div /
            span.max 0
  .clear
