table {
  border-spacing:0;
  border-collapse:collapse;
}
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.css-library {
  width: 100%;
  height: 100%;

  .css-organizer {
    float: left;
    width: 12.7em;
    height: 100%;
    font-size: 9pt;
    color: rgb(65, 65, 80);
    border-right: 1px solid rgb(50, 50, 50);

    .css-title-header {
      text-transform: uppercase;
      color: rgb(105, 105, 105);
      background-color: rgb(220, 220, 220);
      padding: 6px;
      border-top: 1px solid rgb(215, 215, 215);
      border-bottom: 1px solid rgb(232, 232, 232);
    }

    .css-actionable {
      color: rgb(92, 176, 204);
      font-size: 7pt;
    }
    ul {
      background-color: rgb(241, 241, 241);
      padding: 0;
      margin: 0;
    }
    li {
      padding-top: 2px;
      padding-bottom: 3px;
      padding-left: 6px;
      list-style: none;
      text-overflow: ellipsis;
    }
  }

  .css-search-results {
    width: 100%;

    td, th {
      padding: 4px;
      padding-top: 5px;
    }
    font-size: 8pt;
    .css-header {
      background-color: rgb(144, 144, 144);
      color: #ccc;
      border-bottom: 1px solid rgb(119, 119, 119);
    }
    tbody td {
      border-bottom: 1px solid rgb(244, 244, 244);
      border-right: rgb(202, 202, 202);
      text-overflow: ellipsis;
    }
    tbody tr:nth-child(odd) {
      background-color: rgb(247, 247, 247);
    }
  }

  .css-metalist-tabs {
    width: auto; 
    overflow: auto;
  }
  .css-playlist-tabs {
    width: auto; 
    overflow: auto;
  }
}
