.css-organizer
  .css-collection
    .css-title-header
      span Collection
      .css-collection-options
    ul
      li.css-actionable
        //- TODO nix unused classes
        .js-file-drop-zone.css-file-drop-zone
          form.upload
            //- webkitdirectory allows ONLY directories
            //- input#filechooser.filechooser(name='file',type='file',multiple='multiple')

          button.button.gray.small Upload Song

      li All songs
      li Recent adds
      li Recent uploads
      li Recent listens
      li Uploading
  .css-playlists
    .css-title-header
      span Playlists
      .css-collection-options
    ul
      li.css-actionable [create new playlist]
      li Rave Party
      li Quiet Dinner
      li Purchased
      li Shared
      li Christmas
