.css-organizer
  .css-collection
    .css-title-header
      span Collection
      .css-collection-options
    ul
      li.css-actionable [upload new songs]
      li All songs
      li Recent adds
      li Recent uploads
      li Recent listens
      li Uploading
  .css-playlists
    .css-title-header
      span Playlists
      .css-collection-options
    ul
      li.css-actionable [create new playlist]
      li Rave Party
      li Quiet Dinner
      li Purchased
      li Shared
      li Christmas
