.mb-player
  .css-mb-leftbox
    span.mb-audios
    button.mb-play |>
    button.mb-pause ||
    span.css-audio-progress
      progress.css-progress-buffer.mb-buffer(max="1", value="0")
      input.css-progress-audio.mb-progress(type="range", min="0", max="300", value="0")
    button.css-thumbs.mb-thumbs-down
      img.css-mb-thumb-img(src='images/thumbs-down.png')
    button.css-thumbs.mb-thumbs-up
      img.css-mb-thumb-img(src='images/thumbs-up.png')
    button.css-mb-rating-img
      img.mb-rating-img(src='images/rating+0.png')
    span.css-buffering-spinny.mb-buffering
      img(src='/images/loading.gif')
    br
    span.css-playtimes.mb-playtime
      | 0:00
    span.css-playtimes.mb-playtime-total
      | 0:00
    span.css-playtimes.mb-playtime-remaining
      | 0:00
    br
    button.mb-previous <<
    button.mb-pos-back <
    button.mb-pos-forward >
    button.mb-next >>
    //- for things such as audio books and podcasts
    button.mb-not-music(title="Audio Book, Podcast, Goat Noises, etc")
      | Not Music
    //- for things such as chicken dance, christmas music, hymns, and such
    button.mb-specialty-music(title="Chicken Dance, Christmas, Hymn, etc")
      | Special
    br
    button.mb-vol-mute Mute
    span.css-volume-level
      progress.css-level-raw.mb-volume-raw(max="1000", value="0")
      input(type="range").css-level.mb-volume(min="0", max="1000", value="0")
    button.mb-vol-down -Vol
    button.mb-vol-up +Vol
    div.mb-art
  .css-mb-rightbox
    ul.css-now-playing
      li.mb-title
      li.mb-artist
      li.mb-album

.css-mb-music-style.mb-music-style Dance Style
  .mb-audio(data-mb-music-style="notmusic") Non-music
    .mb-ebook(data-mb-music-style="ebook") eBook
    .mb-podcast(data-mb-music-style="podcast") Podcast
  .mb-music(data-mb-music-style="music") Music
    .mb-dance(data-mb-music-style="fast") Single / Group:
      .mb-crap(data-mb-music-style="club") Club Dance
      .mb-crap(data-mb-music-style="hiphop") Hip-Hop
      .mb-break(data-mb-music-style="break") Breakdance
      .mb-line(data-mb-music-style="line") Country Line
      .mb-techno(data-mb-music-style="techno") Techno
    .mb-slow(data-mb-music-style="slow") Couple:
      .mb-waltz(data-mb-music-style="waltz") Waltz
      .mb-foxtrot(data-mb-music-style="foxtrot") Foxtrot
      .mb-swing(data-mb-music-style="swing") Classic Swing
      .mb-country-swing(data-mb-music-style="countryswing") Country Swing
      .mb-cha-cha(data-mb-music-style="chacha") Cha-cha
    .mb-listening(data-mb-music-style="listening") No Dance:
      .mb-crap(data-mb-music-style="crap") Rap
      .mb-easy(data-mb-music-style="easy") Easy listening
      .mb-cruising(data-mb-music-style="cruising") Crusin'
      .mb-jazz(data-mb-music-style="dinner") Jazzy / Dinner
      .mb-world(data-mb-music-style="world") World
