.js-uploading.css-uploading
  ul#uploadlist.tabs
    li.tab.file-info
      span.id TPL-TOKEN
      span.name TPL-NAME
      a(href='#/share/TPL-TOKEN') domain.tld/#/share/TPL-TOKEN
      span.remove-file X
      progress
        span.val 0
        span.div /
        span.max 0
      span.byte-count
