!!!5
html
  head
    title The Fradio - MediaBox
    link(href='style.css', rel='stylesheet', type='text/css', media='screen')
    script(src='pakmanaged.js')
  body
    .css-content-container
      .css-big-player.css-lala-player-bar
        include includes/player
      .css-lala-separator-bar
      .css-library
        include includes/organizer
        include includes/metalist
        include includes/playlist
      .css-clear
      #loading 
        .loading_innard MediaBox loves you, and is now loading.

    //-
      #content
        include includes/categorize
        include includes/updrop
