.css-mb-leftbox {
  float: left;
}
.css-mb-rightbox {
  float: left;
}

.css-mb-rating-img {
  width: 24px;
  height: 24px;
  background-color: ghostwhite;
}

.css-mb-thumb-img {
  width: 16px;
  height: 16px;
}
