!!!5
html
  head
    title The Fradio - MediaBox
    link(href='style.css', rel='stylesheet', type='text/css', media='screen')
    script(src='pakmanaged.js')
  body
    #big_player
      include includes/player
    #loading 
      .loading_innard MediaBox loves you, and is now loading.

    #content
      h1 MediaBox

      include includes/search

      include includes/playlist
      include includes/playlist-history

      include includes/updrop
