!!!5
html
  head
    title The Fradio - MediaBox
    link(href='style.css', rel='stylesheet', type='text/css', media='screen')
    script(src='pakmanaged.js')
  body
    #big_player
      include includes/player

    #content
      h1 MediaBox
      #loading loading... (takes about a minute)
      form#search(action='#fixme')
        input#search-library(x-webkit-speech='x-webkit-speech')
        input#submit(type='submit', value='Search Library')
        table#library
          thead
            tr
              th
                | Title
                //-input#search-titles(type='text', x-webkit-speech='x-webkit-speech')
              th
                | Artist
                //-input#search-artists(type='text', x-webkit-speech='x-webkit-speech')
              th
                | Album
                //-input#search-albums(type='text', x-webkit-speech='x-webkit-speech')
          tbody#search-results
            tr.search-result-item
              td.add
              td.play
              td.track
              td.title
              td.artist
              td.album

      include includes/playlist
      include includes/playlist-history

      include includes/updrop
