!!!5
html
  head
    title The Fradio - MediaBox
    link(href='style.css', rel='stylesheet', type='text/css', media='screen')
    script(src='pakmanaged.js')
  body
    #big_player
      include includes/player
      table#npwrapper
        thead
          th
            h3 Artist
          th
            h3 Album
          th
            h3 Title
          th
            h3 Tags
        tbody
          tr#now_playing
            td#artist
              | The Dixie Chicks
            td#album
              | That one album.
            td#title
              | That one song.
            td#tags
              | terrible music

    //-(style='display: none;')
    #content
      h1 I'm a bus! And welcome to MediaBox
      #loading loading... (takes about a minute)
      #playlist
      a.skiptonext(href='#next-fixme') [Skip to Next]
      form#search(action='#fixme')
        | Search Library (Sub-searches don't work yet)
        input#search-library(x-webkit-speech='x-webkit-speech')
        input#submit(type='submit', value='Search')
        table#library
          thead
            tr
              th
                | Title
                input#search-titles(type='text', x-webkit-speech='x-webkit-speech')
              th
                | Artist
                input#search-artists(type='text', x-webkit-speech='x-webkit-speech')
              th
                | Album
                input#search-albums(type='text', x-webkit-speech='x-webkit-speech')
          tbody#search-results
            tr.search-result-item
              td.add
              td.play
              td.track
              td.title
              td.artist
              td.album

      include includes/updrop
